@model VirtualCampus.Models.InterestSubCatModel
 
@{
    ViewBag.Title = "AddNewsSubCat";
}
<div id="content-header">
    @Html.Partial("~/Views/Shared/_UserName.cshtml");
</div>
<div id="style-3" class="block-container shadow">
    @Html.Partial("~/Views/Shared/_ManageMenu.cshtml");
    <p>
        <a href="#">News</a> --> <a href="#">Add News Subcategory</a>
    </p>
    &nbsp;&nbsp;&nbsp;
    @using (Html.BeginForm())
    {
    <table>
        <tr>
            <td><p>Inerest Category</p></td>
            <td>
                @* @Html.LabelFor(model => model.NewsCategory_id)
                @Html.DropDownListFor(model => model.NewsCategory_id, Model.NewsCategory)
                @Html.ValidationMessageFor(m=>m.NewsCategory_id) *@
                @*@Html.DropDownList("categories");*@
                
                <p>@ViewBag.editsub_intCat</p>
            </td>
            
        </tr>
        <tr>
            <td><p>InterestLink</p></td>
            <td>

            @Html.TextBoxFor(model => model.Interest, new { Value = @ViewBag.edit_interestlink })
            @Html.ValidationMessageFor(model => model.Interest)
            </td>
        </tr>

        <tr>
            <td><p>InterestLinkDescription</p></td>
            <td>

            @Html.TextBoxFor(model => model.Interest_Description_Name, new { Value = @ViewBag.edit_interestDescription })
            
            </td>
        </tr>
        
        <tr>
            <td></td>
            <td><input type="submit" value="Edit InterestLinks" /></td>
        </tr>
    </table>
    }
    <ul>
        <li style="display: inline-block;"><input class="button" type="button" value="Add News Category" /></li>
        <li style="display: inline-block;"><input class="button" type="button" value="Add More NewsLinks" /></li>
    </ul>
</div>
@section sideSection {
    @if (@ViewBag.id == "1")
    {
        @Html.Partial("~/Views/Shared/_AdminManage.cshtml");
    }
}
